body{
    background-color: rgb(60, 73, 148);
}
 
h1{
    text-align: center;
}
 
p{
    text-align: center;
}

#Aeronáutica {
    font-size: large;
}

strong {
    color:rgb(133, 70, 206)
}

em {
    color: rgb(84, 224, 224);
}